body {
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.progress-bar {
  background-color: #fff;
  border-radius: 20px;
}

.progress-bar__child {
  background-color: red;
  height: 10px;
  width: 33%;
  border-radius: 20px;
  transition: .5s;
}

.question {
  color: white;
}

.quiz-box {
  background: linear-gradient(blue, red);
  min-width: 600px;
  min-height: 300px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  list-style: none;
  font-size: 25px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 25px;
  margin: 20px 0;
  cursor: pointer;
  width: 100%;
}

.win {
  color: white;
}

.emoji {
  font-size: 50px;
}